# Ignorar core do WordPress (reconstruído via imagem)
wp-admin/
wp-includes/
license.txt
readme.html
wp-*.php
upgrade-temp-backup

# Ignorar arquivos sensíveis e temporários
.env
*.log
error_log
.htaccess
.htaccess.bk

wp-content/plugins/

# Ignorar arquivos de backup
*.bak
*.bk

# Node/npm (caso use futuramente)
node_modules/
dist/
build/

# Docker volumes locais
volumes/